*.o
*.la
*.lo
src/otrv4_toolkit
src/.deps/otrv4_toolkit.Po

TAGS
tags
src/tags
src/test/tags

#gcov
*.gcno
*.gcda
otr4_toolkit-*-coverage.info
otr4_toolkit-*-coverage/

*~
*#*#

# autotools
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
